body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 2%;
    box-sizing: border-box;
}
.base {
    border: 1px solid blue;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    background: linear-gradient(to right,#5170ff,#ff66c4);
}
.nav a {
    text-decoration: none;
    color: whitesmoke;
    padding-top: 15px;
}

a.nav-link:hover{
    color: black;
    background-color: #e9cd79;
    font-weight: bold;
}
a.active{
    color: black;
    background-color: #ffc107;    
}
.base{
    /* border-right: 5px solid #ffc107; */
    background: linear-gradient(to bottom, #FCC978, #FA00FF);
}